

<button type="button" class="btn btn-info btn-lg btn-block"><a href="/blogs/new">새글쓰기</a></button>


<% @blogs.each do |b| %>
<div class="card">
    <h5 class="card-header"><%= b.created_at %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= b.title %></h5>
    <p class="card-text"><%= b.tag %></p>
    <a href="/blogs/show/<%= b.id %>" class="btn btn-primary">읽기</a>
  </div>
</div>
<% end %>